CLIENT_ID=ConsumerKey
LOGIN_URL=https://login.salesforce.com
USERNAME=sampleusername@sampledomain.com
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nKEY_EXAMPLE_LINE_1\nKEY_EXAMPLE_LINE_2\nKEY_EXAMPLE_LINE_3\nKEY_EXAMPLE_LINE_4\nKEY_EXAMPLE_LINE_5\nKEY_EXAMPLE_LINE_6\nKEY_EXAMPLE_LINE_7\nKEY_EXAMPLE_LINE_8\nKEY_EXAMPLE_LINE_9\nKEY_EXAMPLE_LINE_10\nKEY_EXAMPLE_LINE_11\nKEY_EXAMPLE_LINE_12\nKEY_EXAMPLE_LINE_13\nKEY_EXAMPLE_LINE_14\nKEY_EXAMPLE_LINE_15\nKEY_EXAMPLE_LINE_16\nKEY_EXAMPLE_LINE_17\nKEY_EXAMPLE_LINE_18\nKEY_EXAMPLE_LINE_19\nKEY_EXAMPLE_LINE_20\nKEY_EXAMPLE_LINE_21\nKEY_EXAMPLE_LINE_22\nKEY_EXAMPLE_LINE_23\nKEY_EXAMPLE_LINE_24\nKEY_EXAMPLE_LINE_25\n-----END RSA PRIVATE KEY-----\n"